<div class="container">
  <div class="page-header" id="banner">
    <div class="row my-4">
      <div class="col-12">
        <h3>商品情報の取得</h3>
        <div class="form-inline">
          <%= form_tag('/products/search', method:'post', id:'products_search') do %>
            <div class="form-group">
              <label style='margin-right:10px;'><b>取得元</b>
                <%= select_tag 'shop_id', options_for_select({"楽天市場" => "1", "ヤフショ" => "2"}, @shop_id), class:'form-control', style:'margin-left:10px;margin-right:20px;', id:'select_shop' %>
              </label>

              <div class="form-inline" style="margin-top:10px;">
                <label style='margin-right:10px;'><b>検索条件</b></label>
                <label>キーワード
                <%= text_field_tag('keyword', nil, class: 'form-control', style: 'margin-left:10px; margin-right:20px; width:220px;') %>
                </label>
                <label>ショップID
                <%= text_field_tag('store_id', nil, class: 'form-control', style: 'margin-left:10px; margin-right:20px; width:120px;') %>
                </label>
                <label>カテゴリーID
                <%= text_field_tag('category_id', nil, class: 'form-control', style: 'margin-left:10px; margin-right:20px; width:120px;') %>
                </label>
                <%= submit_tag '取得開始', class: 'btn btn-info', style: 'margin-left:10px; margin-right:20px;' %>
              </div>

            </div>
          <% end %>
        </div>
        <br>
        <h5 style="display:inline;">取得状況： <%= @account.progress %></h5><br>
        <%= paginate @lists %>
        <div style="height:400px; width: 100%; overflow-y:scroll;">
        <table class="table table-striped table-hover table-bordered ellipsis" id="list_table">
          <thead class="thead-light">
            <tr>
              <% @headers.each do |key, value| %>
              <th><%= value %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% if @lists != nil then %>
            <% @lists.each do |list| %>
            <tr>
              <% @headers.each do |key, value| %>
                <% if list.product != nil then %>
                  <% case key %>
                  <% when :title then %>
                    <td class="align-middle"><%= list.product[key].truncate(40) %></td>
                  <% when :description then %>
                    <td class="align-middle"><%= list.product[key].truncate(50) %></td>
                  <% when :image1, :image2, :image3 then %>
                    <% if list.product[key] != nil then %>
                      <td class="align-middle"><%= image_tag(list.product[key]) %></td>
                    <% else %>
                      <td class="align-middle"></td>
                    <% end %>
                  <% else %>
                    <td class="align-middle"><%= list.product[key] %></td>
                  <% end %>
                <% else %>
                  <td class="align-middle"><%= list[key] %></td>
                <% end %>
              <% end %>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
